body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    height: 100vh;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav li {
    padding: 10px 20px;
    border-bottom: 1px solid #555;
}
.nav li a {
    color: #fff;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #555;
}
.container {
    flex: 1;
    padding: 20px;
    display: flex;
  flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
h1 {
    color: #333;
}
.add-customer-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-customer-btn:hover {
    background-color: #0056b3;
}
.customer-list {
    flex: 1; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
  flex-direction: column;
}
.customer-list h2 {
    margin-bottom: 10px; /* Add space below the heading */
  }
.customer-list-content {
    flex: 1; /* Takes up remaining space */
    overflow: auto; /* Enable scrolling if content exceeds container size */
  }
.customer-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.customer-details h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.App {
    display: flex;
  }
  